@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap');


body {
	background-color: #F1EEEE;
	margin: 0;
}

h1,h2 {
	text-transform: uppercase;
}

h1 {
	color: #374035; 
	margin: .5em;
	font-size: 48px; 
	font-weight: bolder; 
	font-family: 'Playfair Display', serif;
	text-align: center;
}

h2 {color: #775295; 
	margin: .5em;
	font-size: 32px; 
	font-family: 'Playfair Display', serif;
	padding: .5em 0;
}

h3 {
	color: #775295; 
	margin: .5em;
	font-size: 24px; 
	font-weight: lighter; 
	font-family: 'Playfair Display', serif;	
	padding: 15 15 15 15px;
}

p {
	font-family: 'Montserrat', sans-serif;
	margin: 1.5em;
	line-height: 1.2em;
	font-size: 16px;
}

ul{
	font-family: 'Montserrat', sans-serif;
	margin: 2em;
	line-height: 1.2em;
	font-size: 16px;
}

nav {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	background-color: #F1EEEE;
	
}

nav a { 
	background-color: #6B7EBE;
	color: white;
	text-decoration: none;
	display: block;
	float: right;
	padding: 20px; 
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}


header {
	background-color: #F1EEEE;
    padding: 20px;
}

section {
    padding: 20px;
}

aside {
	background-color: #F1EEEE;
	width: 25%;
    padding: 20px;
    margin: 0 0 0 30px;
    float: left;
}

article {
	background-color: #F1EEEE;
    padding: 20px;
}

img {
	max-width: 500px;
}

.wrapper {
	background-color: #F1EEEE;
	padding-top: 0;
}

/* mouse over link */
a:hover {
  color: #775295;

}

#content {
	width: 500px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	float: left;
		}


div {
	font-size: 1.2em;
    padding: 2%;
  	display: inline-block;
}

#services {
	float: left;
	width: 46%;
	padding: 2%;
}

#image-display {
	float: right;
	width: 46%;
	padding: 2%;
}

#article1 {
	float: left;
	width: 50%;
}

.width50 {
	width: 46%;
	float: left;
}

footer {
	text-align: right;
    padding: 20px;
	clear: both;
}


@media only screen and (max-width: 800px) {
	.width50 {
		width: 100%;
	}
	#article {
		width:100%;
	}
	#img-display {
		width: 100%;
	}
	#services {
		width: 100%;
	}
  img {
    width: 320px;
  }

}

@media only screen and (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
  p, ul {
    margin: 1.8em .6em 0;
  }
  li {
    width: 100%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
  nav a {
    margin: 0 1em 1em;
  }
  img {
    width: 230px;
  }
  section, div {
    width: 100%;
    padding: .6em;
  }

}

