body {
	background-color: #F1EEEE;
}

h1 {color: #374035; font-size: 48; font-weight: bold; font-family: 'Playfair Display', serif;
}

h3 {color: #775295; font-size: 32; font-weight: lighter; font-family: 'Montserrat', sans-serif;
}

p {font-family: 'Montserrat', sans-serif;
}

ul{font-family: 'Montserrat', sans-serif;
}


a {
	color:#6B7EBE; text-decoration: underline; 
}